/*      UTILITIES   */
/*   BASE   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*  COMPONENTS  */
.carrusel_uno {
  grid-column: 1 / 4; }

.carrusel_dos {
  grid-column: 10 / 13; }

@media (max-width: 1175px) {
  .carrusel_uno {
    width: 250px; } }

@media (max-width: 995px) {
  .carrusel_uno {
    grid-column: 2 / 7; }
  .carrusel_dos {
    grid-column: 8 / 11;
    grid-row: 2 / 3; } }

@media (max-width: 615px) {
  .carrusel_uno {
    grid-column: 1 / 13; }
  .carrusel_dos {
    grid-column: 1 / 13;
    grid-row: 4 / 5; } }

.card-img-bottom {
  width: 400px; }

nav {
  position: sticky;
  top: 0; }
  nav .navbar {
    margin: 0;
    padding: 0;
    font-family: "Cormorant";
    font-weight: 900;
    font-size: 3rem;
    list-style: none;
    box-shadow: 0 3px 50px black;
    color: #F7B787;
    background-color: #527853d7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    flex-wrap: wrap; }
    nav .navbar .nav_li, nav .navbar .nav_li_estasaqui {
      text-shadow: 0 3px 5px black; }
      nav .navbar .nav_li:hover, nav .navbar .nav_li_estasaqui:hover {
        text-shadow: 0 9px 15px black;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -o-transition: all 300ms linear; }
      nav .navbar .nav_li .nav_icon, nav .navbar .nav_li_estasaqui .nav_icon {
        width: 40px; }
      nav .navbar .nav_li a, nav .navbar .nav_li_estasaqui a {
        color: #F7B787;
        text-decoration: none; }
    nav .navbar .nav_li_estasaqui {
      text-decoration: line-through;
      text-decoration: underline;
      text-shadow: 0 9px 15px black;
      transform: scale(1.2); }

@media (max-width: 1070px) {
  nav .navbar {
    font-size: 2rem; }
    nav .navbar .nav_li .nav_icon, nav .navbar .nav_li_estasaqui .nav_icon {
      width: 30px; } }

@media (max-width: 769px) {
  nav .navbar {
    font-size: 1.5rem; }
    nav .navbar .nav_li .nav_icon, nav .navbar .nav_li_estasaqui .nav_icon {
      width: 20px; } }

@media (max-width: 453px) {
  nav .navbar .nav_li, nav .navbar .nav_li_estasaqui {
    margin-right: 28px; } }

@media (max-width: 324px) {
  nav .navbar .nav_li, nav .navbar .nav_li_estasaqui {
    margin-right: 0; } }

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.shake-left {
  -webkit-animation: shake-left 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3 both;
  animation: shake-left 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3 both; }

@-webkit-keyframes shake-left {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes shake-left {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/* LAYOUT  */
.header_index, .header_gatos, .header_plantas, .header_consejos, .header_galeria {
  width: 100%;
  height: 800px;
  background-image: url(../assets/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
  background-attachment: fixed;
  font-family: "great vibes";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column; }
  .header_index h1, .header_gatos h1, .header_plantas h1, .header_consejos h1, .header_galeria h1 {
    font-size: 9rem;
    color: #F9E8D9;
    text-align: center;
    text-shadow: 0 0 10px black; }
  .header_index p, .header_gatos p, .header_plantas p, .header_consejos p, .header_galeria p {
    font-family: Cormorant;
    font-weight: 900;
    font-size: 3rem;
    color: #F9E8D9;
    text-align: center;
    text-shadow: 0 0 6px black; }
  .header_index .logo, .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
    width: 400px;
    margin-top: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid black; }

.header_gatos, .header_plantas, .header_consejos, .header_galeria {
  height: 300px;
  background-position-y: -1000px; }
  .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
    width: 280px; }

.header_plantas, .header_consejos, .header_galeria {
  background-position-y: -350px; }

.header_consejos, .header_galeria {
  background-image: url(../assets/headerotros.jpeg); }

.header_galeria {
  background-position-y: -1000px; }

@media (max-width: 1320px) {
  .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    height: 250px;
    background-position-y: -800px; }
    .header_gatos h1, .header_plantas h1, .header_consejos h1, .header_galeria h1 {
      font-size: 7rem; }
    .header_gatos p, .header_plantas p, .header_consejos p, .header_galeria p {
      font-size: 2rem; }
    .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
      width: 200px; }
  .header_plantas, .header_consejos, .header_galeria {
    background-position-y: -300px; }
  .header_galeria {
    background-position-y: -800px; } }

@media (max-width: 1068px) {
  .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    height: 200px;
    background-position-y: -700px; }
    .header_gatos h1, .header_plantas h1, .header_consejos h1, .header_galeria h1 {
      font-size: 4rem; }
    .header_gatos p, .header_plantas p, .header_consejos p, .header_galeria p {
      font-size: 1.5rem; }
    .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
      width: 150px; }
  .header_plantas, .header_consejos, .header_galeria {
    background-position-y: -250px; }
  .header_galeria {
    background-position-y: -700px; } }

@media (max-width: 990px) {
  .header_index, .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    height: 700px;
    background-position-y: -100px;
    gap: 0; }
    .header_index h1, .header_gatos h1, .header_plantas h1, .header_consejos h1, .header_galeria h1 {
      font-size: 7rem; }
    .header_index p, .header_gatos p, .header_plantas p, .header_consejos p, .header_galeria p {
      font-size: 2rem; }
    .header_index .logo, .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
      width: 300px; }
  .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    height: 200px;
    background-position-y: -600px; }
    .header_gatos h1, .header_plantas h1, .header_consejos h1, .header_galeria h1 {
      font-size: 4rem; }
    .header_gatos p, .header_plantas p, .header_consejos p, .header_galeria p {
      font-size: 1.5rem; }
    .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
      width: 150px; }
  .header_plantas, .header_consejos, .header_galeria {
    background-position-y: -600px; } }

@media (max-width: 818px) {
  .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    background-position-y: -500px; }
  .header_plantas, .header_consejos, .header_galeria {
    background-position-y: -160px; }
  .header_galeria {
    background-position-y: -500px; } }

@media (max-width: 720px) {
  .header_index, .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    height: 650px;
    background-position-y: 0px; }
    .header_index h1, .header_gatos h1, .header_plantas h1, .header_consejos h1, .header_galeria h1 {
      font-size: 6rem;
      margin: 10px; }
    .header_index p, .header_gatos p, .header_plantas p, .header_consejos p, .header_galeria p {
      font-size: 1.5rem; }
    .header_index .logo, .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
      width: 250px; }
  .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    background-position-y: -210px;
    height: 350px; }
    .header_gatos .logo, .header_plantas .logo, .header_consejos .logo, .header_galeria .logo {
      display: none; }
  .header_plantas, .header_consejos, .header_galeria {
    background-position-y: 0; }
  .header_galeria {
    background-position-y: -215px; } }

@media (max-width: 414px) {
  .header_gatos, .header_plantas, .header_consejos, .header_galeria {
    background-position-x: -100px; } }

.body_index {
  background-image: linear-gradient(to bottom, #f9e8d9, #f9dcc4, #f9d0af, #f8c49b, #f7b787); }

.body_gatos {
  background-image: linear-gradient(to bottom, #f9e8d9, #f9cca6, #f7b076, #f49248, #ee7214); }

.body_plantas {
  background-image: linear-gradient(to bottom, #f9e8d9, #d6c9b0, #aead8b, #82926b, #527853); }

.main_index, .main_gatos {
  font-family: Cormorant;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center; }
  .main_index .titulo_prinpipal, .main_gatos .titulo_prinpipal {
    font-family: "Great Vibes";
    margin-top: 20px;
    font-size: 6rem;
    text-shadow: 0 5px 15px black;
    grid-column: 1 / 13; }
  .main_index .imgmove, .main_gatos .imgmove, .main_index .imgmove_dos, .main_gatos .imgmove_dos {
    grid-column: 1 / 13;
    background-image: url(https://tse1.mm.bing.net/th/id/OIG4.MKRyWnT6_W_0y2wkdvK2?pid=ImgGn);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px; }
  .main_index .imgmove_dos, .main_gatos .imgmove_dos {
    background-image: url(https://tse4.mm.bing.net/th/id/OIG4.UPCSv2qcKyvLKnT.rv9w?pid=ImgGn); }
  .main_index .texto_final, .main_gatos .texto_final {
    grid-column: 1 / 13;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0 5px 10px #EE7214; }

.main_plantas {
  height: 500px; }

@media (max-width: 500px) {
  .main_index .titulo_prinpipal, .main_gatos .titulo_prinpipal {
    font-size: 4rem; }
  .main_index .imgmove, .main_gatos .imgmove, .main_index .imgmove_dos, .main_gatos .imgmove_dos {
    width: 100%;
    height: 100px; }
  .main_index .texto_final, .main_gatos .texto_final {
    font-size: 2rem;
    font-weight: 600; } }

.bienvenida {
  grid-column: 4 / 10;
  text-align: center;
  font-weight: 500;
  text-shadow: 0 1px 15px black; }
  .bienvenida p {
    text-align: center;
    font-size: 2rem;
    margin: 20px; }

@media (max-width: 995px) {
  .bienvenida {
    grid-column: 1 / 13; } }

@media (max-width: 500px) {
  .bienvenida p {
    font-size: 1.5rem; } }

.poema, .poema_gatos {
  grid-column: 1 / 13;
  font-family: "Great Vibes";
  font-size: 5rem;
  color: #F9E8D9;
  text-shadow: 0 3px 10px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://tse3.mm.bing.net/th/id/OIG4.bBcDo9qbjnQHaQmmd2f2?pid=ImgGn);
  background-size: cover;
  background-position-y: -150px;
  border: 5px double black;
  box-shadow: 0 5px 15px black;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  margin-top: 120px;
  margin-bottom: 120px; }

.poema_gatos {
  background-image: url(https://tse3.mm.bing.net/th/id/OIG1.MmLhLrNUYCBv2RHI8V2l?pid=ImgGn); }

@media (max-width: 1210px) {
  .poema, .poema_gatos {
    font-size: 4rem; } }

@media (max-width: 972px) {
  .poema, .poema_gatos {
    font-size: 3rem; } }

@media (max-width: 738px) {
  .poema, .poema_gatos {
    font-size: 2rem; } }

.contenedor, .contenedor_gatos, .contenedor_comunes {
  grid-column: 1 / 13;
  text-align: start; }
  .contenedor h3, .contenedor_gatos h3, .contenedor_comunes h3 {
    font-size: 3rem;
    text-decoration: underline double;
    text-shadow: 0 3px 10px white; }
  .contenedor p, .contenedor_gatos p, .contenedor_comunes p {
    text-shadow: 0 3px 10px white; }
  .contenedor ul, .contenedor_gatos ul, .contenedor_comunes ul {
    list-style-type: none; }
    .contenedor ul .tarjeta, .contenedor_gatos ul .tarjeta, .contenedor_comunes ul .tarjeta, .contenedor_gatos ul .tarjeta_gatos, .contenedor_comunes ul .tarjeta_gatos {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: nowrap;
      background-color: #F9E8D9;
      padding: 10px;
      border-radius: 10%;
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      -ms-border-radius: 10%;
      -o-border-radius: 10%;
      margin-bottom: 120px;
      margin-top: 120px;
      box-shadow: 0 10px 15px #EE7214;
      height: 360px; }
      .contenedor ul .tarjeta:nth-child(2n), .contenedor_gatos ul .tarjeta:nth-child(2n), .contenedor_comunes ul .tarjeta:nth-child(2n), .contenedor_gatos ul .tarjeta_gatos:nth-child(2n), .contenedor_comunes ul .tarjeta_gatos:nth-child(2n) {
        flex-direction: row-reverse; }
    .contenedor ul .tarjeta_img, .contenedor_gatos ul .tarjeta_img, .contenedor_comunes ul .tarjeta_img {
      max-width: 500px;
      min-width: 280px;
      box-shadow: 0 5px 10px black; }
      .contenedor ul .tarjeta_img img, .contenedor_gatos ul .tarjeta_img img, .contenedor_comunes ul .tarjeta_img img {
        width: 100%; }
    .contenedor ul h4, .contenedor_gatos ul h4, .contenedor_comunes ul h4 {
      font-size: 3rem;
      color: #EE7214; }
    .contenedor ul p, .contenedor_gatos ul p, .contenedor_comunes ul p {
      font-size: 2rem; }

.contenedor_gatos h3, .contenedor_comunes h3 {
  text-decoration: none;
  border-top: 5px double black;
  padding-top: 10px; }

.contenedor_gatos ul, .contenedor_comunes ul {
  text-align: center;
  padding: 10px; }
  .contenedor_gatos ul .tarjeta_gatos, .contenedor_comunes ul .tarjeta_gatos {
    height: auto; }
  .contenedor_gatos ul .tarjeta_img_gatos, .contenedor_comunes ul .tarjeta_img_gatos {
    width: 2000px; }

.contenedor_comunes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px; }
  .contenedor_comunes h3 {
    grid-column: 1 / 5; }
  .contenedor_comunes p {
    grid-column: 1 / 5; }
  .contenedor_comunes .tarjeta_comun {
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    background-color: #F9E8D9;
    box-shadow: 0 5px 15px #527853; }
    .contenedor_comunes .tarjeta_comun h4 {
      text-align: center;
      font-size: 2rem;
      color: #EE7214; }
    .contenedor_comunes .tarjeta_comun p {
      padding: 10px; }

@media (max-width: 828px) {
  .contenedor h3, .contenedor_gatos h3, .contenedor_comunes h3 {
    font-size: 2rem; }
  .contenedor p, .contenedor_gatos p, .contenedor_comunes p {
    font-size: 1.5rem; }
  .contenedor ul .tarjeta, .contenedor_gatos ul .tarjeta, .contenedor_comunes ul .tarjeta, .contenedor_gatos ul .tarjeta_gatos, .contenedor_comunes ul .tarjeta_gatos {
    height: 300px; }
  .contenedor ul h4, .contenedor_gatos ul h4, .contenedor_comunes ul h4 {
    font-size: 2rem; }
  .contenedor ul p, .contenedor_gatos ul p, .contenedor_comunes ul p {
    font-size: 1.5rem; } }

@media (max-width: 762px) {
  .contenedor, .contenedor_gatos, .contenedor_comunes {
    text-align: center; }
    .contenedor ul, .contenedor_gatos ul, .contenedor_comunes ul {
      padding: 10px; }
      .contenedor ul .tarjeta, .contenedor_gatos ul .tarjeta, .contenedor_comunes ul .tarjeta, .contenedor_gatos ul .tarjeta_gatos, .contenedor_comunes ul .tarjeta_gatos {
        flex-direction: column;
        height: auto; }
        .contenedor ul .tarjeta:nth-child(2n), .contenedor_gatos ul .tarjeta:nth-child(2n), .contenedor_comunes ul .tarjeta:nth-child(2n), .contenedor_gatos ul .tarjeta_gatos:nth-child(2n), .contenedor_comunes ul .tarjeta_gatos:nth-child(2n) {
          flex-direction: column; }
      .contenedor ul .tarjeta_img, .contenedor_gatos ul .tarjeta_img, .contenedor_comunes ul .tarjeta_img {
        max-width: 500px;
        min-width: 280px; }
        .contenedor ul .tarjeta_img img, .contenedor_gatos ul .tarjeta_img img, .contenedor_comunes ul .tarjeta_img img {
          width: 100%; }
  .contenedor_gatos ul .tarjeta_img_gatos, .contenedor_comunes ul .tarjeta_img_gatos {
    width: 300px; }
    .contenedor_gatos ul .tarjeta_img_gatos img, .contenedor_comunes ul .tarjeta_img_gatos img {
      width: 300px; } }

.footer_index, .footer_gatos, .footer_plantas, .footer_consejos, .footer_galeria {
  background-image: url(https://tse4.mm.bing.net/th/id/OIG1.CKP4JS1BE1xlvEZMW5sj?pid=ImgGn);
  width: 100%;
  background-size: cover;
  font-family: Cormorant;
  font-weight: 900;
  font-size: 1.5rem;
  color: #F9E8D9;
  text-shadow: 0 0 6px black;
  padding: 10px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; }
  .footer_index .footer_p, .footer_gatos .footer_p, .footer_plantas .footer_p, .footer_consejos .footer_p, .footer_galeria .footer_p {
    width: 300px; }
  .footer_index .footer_rrss a img, .footer_gatos .footer_rrss a img, .footer_plantas .footer_rrss a img, .footer_consejos .footer_rrss a img, .footer_galeria .footer_rrss a img {
    width: 50px;
    margin: 10px;
    box-shadow: 0 3px 5px black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 1px 20px white; }
    .footer_index .footer_rrss a img:hover, .footer_gatos .footer_rrss a img:hover, .footer_plantas .footer_rrss a img:hover, .footer_consejos .footer_rrss a img:hover, .footer_galeria .footer_rrss a img:hover {
      box-shadow: 0 2px 30px #EE7214;
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transition: all 300ms linear;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear; }
  .footer_index .footer_copyright, .footer_gatos .footer_copyright, .footer_plantas .footer_copyright, .footer_consejos .footer_copyright, .footer_galeria .footer_copyright {
    align-self: flex-end; }
    .footer_index .footer_copyright a, .footer_gatos .footer_copyright a, .footer_plantas .footer_copyright a, .footer_consejos .footer_copyright a, .footer_galeria .footer_copyright a {
      font-size: 1rem;
      color: black;
      text-decoration: none;
      text-shadow: 0 1px 10px white; }
      .footer_index .footer_copyright a img, .footer_gatos .footer_copyright a img, .footer_plantas .footer_copyright a img, .footer_consejos .footer_copyright a img, .footer_galeria .footer_copyright a img {
        width: 20px; }

.footer_gatos {
  background-image: url(https://tse2.mm.bing.net/th/id/OIG2.psmJinYXJ0skLBGTfZ6g?pid=ImgGn); }

.footer_plantas {
  background-image: url(https://tse3.mm.bing.net/th/id/OIG2.uFOlQrkYSlAssi8gcx_x?pid=ImgGn);
  background-position-y: -150px; }

.footer_consejos {
  background-image: url(https://tse3.mm.bing.net/th/id/OIG2.c382pHbHno262Gu29qFP?pid=ImgGn);
  background-position-y: -450px; }

.footer_galeria {
  background-image: url(https://tse3.mm.bing.net/th/id/OIG2.OndqyrjgMrEpu7R4xbB1?pid=ImgGn); }

@media (max-width: 680px) {
  .footer_consejos {
    background-position-y: 0; } }

@media (max-width: 440px) {
  .footer_plantas {
    background-position-y: 0; } }
