.body_index{
    background-image: linear-gradient(to bottom, #f9e8d9, #f9dcc4, #f9d0af, #f8c49b, #f7b787);
}

.body_gatos{
    background-image: linear-gradient(to bottom, #f9e8d9, #f9cca6, #f7b076, #f49248, #ee7214);
}

.body_plantas{
    background-image: linear-gradient(to bottom, #f9e8d9, #d6c9b0, #aead8b, #82926b, #527853);
}