
.header_index{
    width: 100%;
    height: 800px;
    background-image:url(../assets/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    background-attachment: fixed;
    font-family: "great vibes";
    @include flex(flex, center, center, 20px, wrap);
    flex-direction: column;
    h1{
        font-size: 10rem;
        color: $color-Beige;
        text-align: center;
        text-shadow: 0 0 10px black;
    }
    p{
        font-family: Cormorant;
        font-weight: 900;
        font-size: 3rem;
        color: $color-Beige;
        text-align: center;
        text-shadow: 0 0 6px black;
    }
    .logo{
        width: 400px;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
        border: 5px solid black;
    }
}

.header_gatos{
    @extend .header_index;
    height: 300px;
    background-position-y: -1000px;
    .logo{
        width: 280px;
    }
}

.header_plantas{
    @extend .header_gatos;
    background-position-y: -450px;
}

.header_consejos{
    @extend .header_plantas;
    background-image: url(../assets/headerotros.jpeg);
}

.header_galeria{
    @extend .header_consejos;
    background-position-y: -1000px;
}