
.header_index{
    width: 100%;
    height: 800px;
    background-image:url(../assets/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    background-attachment: fixed;
    font-family: "great vibes";
    @include flex(flex, center, center, 20px, wrap);
    flex-direction: column;
    h1{
        font-size: 9rem;
        color: $color-Beige;
        text-align: center;
        text-shadow: 0 0 10px black;
    }
    p{
        font-family: Cormorant;
        font-weight: 900;
        font-size: 3rem;
        color: $color-Beige;
        text-align: center;
        text-shadow: 0 0 6px black;
    }
    .logo{
        width: 400px;
        margin-top: 20px;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
        border: 5px solid black;
    }
}

.header_gatos{
    @extend .header_index;
    height: 300px;
    background-position-y: -1000px;
    .logo{
        width: 280px;
    }
}

.header_plantas{
    @extend .header_gatos;
    background-position-y: -350px;
}

.header_consejos{
    @extend .header_plantas;
    background-image: url(../assets/headerotros.jpeg);
}

.header_galeria{
    @extend .header_consejos;
    background-position-y: -1000px;
}

@media ( max-width: 1320px){
    .header_gatos{
        height: 250px;
        background-position-y: -800px;
        h1{
            font-size: 7rem;
        }
        p{
            font-size: 2rem;
        }
        .logo{
            width: 200px;
        }
    }
    .header_plantas{
        background-position-y: -300px;
    }

    .header_galeria{
        background-position-y: -800px;
    }
}

@media ( max-width: 1068px){
    .header_gatos{
        height: 200px;
        background-position-y: -700px;
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.5rem;
        }
        .logo{
            width: 150px;
        }
    }

    .header_plantas{
        background-position-y: -250px;
    }

    .header_galeria{
        background-position-y: -700px;
    }
}

@media ( max-width: 990px) {
    .header_index{
        height: 700px;
        background-position-y: -100px;
        gap: 0;
        h1{
            font-size: 7rem;
        }
        p{
            font-size: 2rem;
        }
        .logo{
            width: 300px;
        }
    }

    .header_gatos{
        height: 200px;
        background-position-y: -600px;
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.5rem;
        }
        .logo{
            width: 150px;
        }
    }

    .header_plantas{
        background-position-y: -600px;
    }
    
}

@media ( max-width: 818px){
    .header_gatos{
        background-position-y: -500px;
    }
    
    .header_plantas{
        background-position-y: -160px;
    }

    .header_galeria{
        background-position-y: -500px;
    }
}

@media ( max-width: 720px ){
    .header_index{
        height: 650px;
        background-position-y: 0px;
        h1{
            font-size: 6rem;
            margin: 10px;
        }
        p{
            font-size: 1.5rem;
        }
        .logo{
            width: 250px;
        }
    }

    
    .header_gatos{
        background-position-y: -210px;
        height: 350px;
        .logo{
            display: none;
        }
    }

    .header_plantas{
        background-position-y: 0;
    }

    .header_galeria{
        background-position-y: -215px;
    }
}

@media (max-width: 414px){
    .header_gatos{
        background-position-x: -100px;
    }
}