.main_index{
    font-family: Cormorant;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    @include grid (grid, repeat(12, 1fr), auto, center, center);
        .titulo_prinpipal{
            font-family: $font-uno;
            margin-top: 20px;
            font-size: 6rem;
            text-shadow: 0 5px 15px black;
            grid-column: 1 / 13;
        }
        .imgmove{
            grid-column: 1 / 13;
            background-image: url(https://tse1.mm.bing.net/th/id/OIG4.MKRyWnT6_W_0y2wkdvK2?pid=ImgGn);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 200px;
        }
        .imgmove_dos{
            @extend .imgmove;
            background-image: url(https://tse4.mm.bing.net/th/id/OIG4.UPCSv2qcKyvLKnT.rv9w?pid=ImgGn);
        }
        .texto_final{
            grid-column: 1 / 13;
            font-size: 3rem;
            font-weight: 600;
            text-shadow: 0 5px 10px $color-naranjo ;
        }
}


.main_gatos{
    height: 500px;
}

.main_plantas{
    height: 500px;
}

@media (max-width: 500px ){
    .main_index{
        .titulo_prinpipal{
            font-size: 4rem ;
        }
        .imgmove{
            width: 100%;
            height: 100px;
        }
        .texto_final{
            font-size: 2rem;
            font-weight: 600;
        }
    }
}