.bienvenida{
    grid-column: 4 / 10;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 1px 15px black;
    p{
        text-align: center;
        font-size: 2rem;
        margin: 20px;
    }
}

@media (max-width: 995px){
    .bienvenida{
        grid-column: 1 / 13;
    }
}

@media (max-width: 500px){
    .bienvenida{
        p{
            font-size: 1.5rem;
        }
    }
}

.poema{
    grid-column:  1 / 13;
    font-family: $font-uno;
    font-size: 5rem;
    color: $color-Beige;
    text-shadow: 0 3px 10px black;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(https://tse3.mm.bing.net/th/id/OIG4.bBcDo9qbjnQHaQmmd2f2?pid=ImgGn);
    background-size: cover;
    background-position-y: -150px ;
    border: 5px double black;
    box-shadow: 0 5px 15px black;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    margin-top: 120px;
    margin-bottom: 120px;
}

@media (max-width: 1210px){
    .poema{
        font-size: 4rem;
    }
}
@media (max-width: 972px){
    .poema{
        font-size: 3rem;
    }
}
@media (max-width: 738px){
    .poema{
        font-size: 2rem;
    }
}

.contenedor{
    grid-column: 1 / 13;
    text-align: start;
    h3{
        font-size: 3rem;
        text-decoration: underline double;
    }
    ul{
        list-style-type: none;
        .tarjeta_index{
            @include flex(flex, center, center, 20px, nowrap);
            background-color: $color-Beige;
            padding: 10px;
            border-radius: 10%;
            -webkit-border-radius: 10%;
            -moz-border-radius: 10%;
            -ms-border-radius: 10%;
            -o-border-radius: 10%;
            margin-bottom: 120px;
            margin-top: 120px;
            box-shadow: 0 10px 15px $color-naranjo;
            height: 360px;
            &:nth-child(2n){
                flex-direction: row-reverse;
            }
        }
            .tarjeta_img{
                max-width: 500px;
                min-width: 280px;
                box-shadow: 0 5px 10px black;
                img{
                    width: 100%;
                }
            }
            h4{
                font-size: 3rem;
                color: $color-naranjo;
            }
            p{
                font-size: 2rem;
            }
    }
}

@media (max-width: 828px ){
    .contenedor{
        h3{
            font-size: 2rem;
        }
        ul{
            .tarjeta_index{
                height: 300px;
            }
            h4{
                font-size: 2rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}
@media (max-width: 762px ){
    .contenedor{
        text-align: center;
        ul{
            padding: 10px;
            .tarjeta_index{
                flex-direction: column;
                height: auto;
                &:nth-child(2n){
                    flex-direction: column;
                }
            }
                .tarjeta_img{
                    max-width: 500px;
                    min-width: 280px;
                    img{
                        width: 100%;
                    }
                }
        }
    }
}
