section{
    grid-column: 1/ 13;
}

.bienvenida{
    grid-column: 4 / 10;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 1px 15px black;
    p{
        text-align: center;
        font-size: 2rem;
        margin: 20px;
    }
}

@media (max-width: 995px){
    .bienvenida{
        grid-column: 1 / 13;
    }
}

@media (max-width: 500px){
    .bienvenida{
        p{
            font-size: 1.5rem;
        }
    }
}

.poema{
    grid-column:  1 / 13;
    font-family: $font-uno;
    font-size: 5rem;
    color: $color-Beige;
    text-shadow: 0 3px 10px black;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(https://tse3.mm.bing.net/th/id/OIG4.bBcDo9qbjnQHaQmmd2f2?pid=ImgGn);
    background-size: cover;
    background-position-y: -150px ;
    border: 5px double black;
    box-shadow: 0 5px 15px black;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    margin-top: 120px;
    margin-bottom: 120px;
}

.poema_gatos{
    @extend .poema;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(https://tse3.mm.bing.net/th/id/OIG1.MmLhLrNUYCBv2RHI8V2l?pid=ImgGn);
}

.poema_plantas{
    @extend .poema;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(https://tse1.mm.bing.net/th/id/OIG1..6uaQpbR7HGKaZC.rDRX?pid=ImgGn);
    background-position-y: -500px;
}

.poema_consejos{
    @extend .poema;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(https://tse1.mm.bing.net/th/id/OIG3.K1STclYAWX3lR0HD93hr?pid=ImgGn);
    background-position-y: -600px;
}

@media (max-width: 1210px){
    .poema{
        font-size: 4rem;
    }
}
@media (max-width: 972px){
    .poema{
        font-size: 3rem;
    }
}
@media (max-width: 738px){
    .poema{
        font-size: 2.5rem;
    }
}

.contenedor{
    grid-column: 1 / 13;
    text-align: start;
    h3{
        font-size: 3rem;
        text-decoration: underline double;
        text-shadow: 0 3px 10px white;
    }
    p{
        text-shadow: 0 3px 10px white;
    }
    ul{
        list-style-type: none;
        .tarjeta{
            @include flex(flex, center, center, 20px, nowrap);
            background-color: $color-Beige;
            padding: 10px;
            border-radius: 10%;
            -webkit-border-radius: 10%;
            -moz-border-radius: 10%;
            -ms-border-radius: 10%;
            -o-border-radius: 10%;
            margin-bottom: 120px;
            margin-top: 120px;
            box-shadow: 0 10px 15px $color-naranjo;
            height: 360px;
            &:nth-child(2n){
                flex-direction: row-reverse;
            }
        }
            .tarjeta_img{
                max-width: 500px;
                min-width: 280px;
                box-shadow: 0 5px 10px black;
                img{
                    width: 100%;
                }
            }
            h4{
                font-size: 3rem;
                color: $color-naranjo;
                font-weight: 700;
            }
            p{
                font-size: 2rem;
            }
    }
}

.contenedor_gatos{
    @extend .contenedor;
    h3{
        text-decoration: none;
        border-top: 5px double black;
        padding-top: 10px;
    }
    ul{
        text-align: center;
        padding: 10px;
        .tarjeta_gatos{
            @extend .tarjeta;
            height: auto;
        }
        .tarjeta_img_gatos{
            width: 2000px;
        }
    }
}

.contenedor_plantas{
    @extend .contenedor_gatos;
    margin-top: 80px;
    ul{
        .tarjeta_plantas{
            @extend .tarjeta;
            box-shadow: 0 10px 15px $color-verde;
            h4{
                color: $color-verde ;
            }
        }
    }
}

.contenedor_comunes{
    @extend .contenedor_gatos;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    h3{
        grid-column: 1 / 5;
    }
    p{
        grid-column: 1 / 5 ;
    }
    .tarjeta_comun{
        border-radius: 15%;
        -webkit-border-radius: 15%;
        -moz-border-radius: 15%;
        -ms-border-radius: 15%;
        -o-border-radius: 15%;
        background-color: $color-Beige;
        box-shadow: 0 5px 15px $color-verde ;
        margin-bottom: 30px;
        h4{
            text-align: center;
            font-size: 2rem;
            color: $color-naranjo;
            font-weight: 700;
        }
        p{
            padding: 10px;
        }
    }
    .tarjeta_comun_plantas{
        @extend .tarjeta_comun;
        h4{
            color: $color-verde;
        }
    }
}

@media(max-width: 1070px ){
    .contenedor_plantas{
        ul{
            .tarjeta_plantas{
                height: auto;
                h4{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 828px ){
    .contenedor{
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        ul{
            .tarjeta{
                height: 300px;
            }
            h4{
                font-size: 2rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}
@media (max-width: 762px ){
    .contenedor{
        text-align: center;
        ul{
            padding: 10px;
            .tarjeta{
                flex-direction: column;
                height: auto;
                &:nth-child(2n){
                    flex-direction: column;
                }
            }
                .tarjeta_img{
                    max-width: 100%;
                    min-width: 280px;
                    img{
                        width: 100%;
                    }
                }
        }
    }

    .contenedor_gatos{
        ul{
            .tarjeta_img_gatos{
                width: 300px;
                img{
                    width: 300px;
                }
        }
        }
    }
}

.galeria{
    @include flex(flex, center, start, 20px, nowrap);
    .galeria_slot{
        flex: 33.33333%;
        .galeria_img{
            max-width: 100%;
            min-width: 310px;
            margin-top: 20px;
            border: 10px double $color-verde;
            box-shadow: 0 5px 15px $color-naranjo;
        }
        .galeria_img2{
            @extend .galeria_img;
            box-shadow: 0 5px 15px $color-verde;
        }
    }
    .galeria_slot_2{
        @extend .galeria_slot;
    }
}

@media (max-width: 1000px ){
    .galeria{
        flex-wrap: wrap;
    }       
}

.formulario{
    grid-column: 1 / 13;
    background-color: rgba(255, 255, 255, 0.077);
    margin: 50px auto 50px auto;
    padding: 20px;
    box-shadow: 0 5px 15px black;
    text-align: center;
    fieldset{
        legend{
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 30px;
            text-decoration: underline;
        }
        .input{
            margin-bottom: 20px;
        }
        .enviararchivo{
            background-color: rgba(0, 0, 0, 0.188);
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            .form-label{
                text-decoration: underline;
                font-size: 2rem;
                font-weight: 700;
            }
        }
        .boton{
            text-align: center;
        }
    }
}

@media (max-width: 950px ) {
    .formulario{
        font-size: 1.5rem;
        fieldset{
            legend{
                font-size: 2rem;
            }
            .enviararchivo{
                font-size: 0.8rem;
        }   }
        }
}