@mixin grid ($grid, $columns, $rows, $justify-content, $align-items){
    display: $grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex ($display, $justify-content, $align-items, $gap, $flex-wrap){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
    flex-wrap: $flex-wrap;
}