$color-verde: #527853;
$color-Beige: #F9E8D9;
$color-naranjosuave: #F7B787;
$color-naranjo: #EE7214;

$color-verdetrans: #527853d7;

$font-uno: "Great Vibes";
$font-dos: "Cormorant";
$font-tres: "Satisfy";